<module>
	<rawname>infoservices</rawname>
	<name>Info Services</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Information</category>
	<location>release/infoservices-1.0.tgz</location>
	<info>http://freepbx.org/wiki/InfoServices</info>
	<md5sum>54154840955ce78560fb900d4ab9192b</md5sum>
</module>
