<module>
	<rawname>infoservices</rawname>
	<name>Info Services</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Information</category>
	<location>release/infoservices-1.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Features</info>
	<md5sum>3aa08399efe0f185f62006343138b341</md5sum>
</module>
